
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateCourseGrade</title>
    <style>
        html {
            background-image: url('/Images/sea-edge-79ab30e2.png');
            background-size: cover;
        }
    </style>
</head>
<body>
    <div>
        <h1 style="color:red"> Update Course Grade </h1><br />
        @Html.ActionLink("Go Back", "Index", "Home")
    </div>
</body>
</html>
